
	<footer id="footer" class="top-space">
		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Home</a> | 
								<a href="/posting">sublmit Ad Post</a> |
								{{#if username }}
								<a href="/login">Login</a> |
								{{/if}}
								<a href="/register">Register</a> |
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2015, OLX. developed by <a href="https://github.com/anismomin" rel="developer" target="_blank">anismomin</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		